.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}



body{font-family: 'Amatic SC', cursive;}
h1{
	color:red;
	font-size: 60px
}
h2{
	font-size: 20px
}
p{ font-size: 35px
}
.container{
	text-align: center;
}

.pics{
	display: block;
	margin: 0 auto;
	width: 66%;
}


.click-prompt{
top: 435px;
position: relative;
color: white;
font-size: 20px;
visibility: hidden;
z-index: 6;
}



.rapper:hover .click-prompt{
	visibility: visible;
}

#click{
top: 340px;
position: relative;
color: white;
font-size: 20px;
visibility: hidden;
z-index: 6;
}



#rap:hover #click{
	visibility: visible;
}

/*.random{
	background: -webkit-radial-gradient(circle, pink 10%, yellow 20%, salmon 50% , coral 40%);
	width: 300px;
	height:500px ;
}*/
@keyframes volcanoshake{
	0%, 100% {left: 200px;}
}
#shake{
	-webkit-animation-name: volcanoshake;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
}


